@font-face {
    font-family: 'Berlin'; 
    src: url('/css/berlin.ttf') format('truetype');
    font-display: swap;
    font-weight: 100;
}

:root {
    --color-link: #d1d0a9;
    --font-heading: normal 600 1.5rem 'Tinos', 'Times New Roman';
    --font-body: normal .9rem 'Berlin', 'Iosevka Charon';
}

body {
    margin: 0;
    display: flex; 
    min-height: 100vh;
    min-height: 100svh;
    flex-direction: column;
    background-color: #141414;
    box-sizing: border-box;
    color: #eee4de;
    padding: 2em;
    gap: 2em;
}

h1 {
    font: var(--font-heading);
}

p {
    font: var(--font-body);
}

a {
    font: var(--font-body);
    color: var(--color-link);
    text-decoration: none;
    transition-duration: .5s;
    
    &:hover {
        color: #eee4de;
    }
}

ul {
    padding: 0;
    margin: 0; 

    & li {
        margin-bottom: .3em;
        list-style: square inside;
    }

    & a {
        font-size: 1.2rem;
    }
}

main {
    flex: 1;
    font: var(--font-body);

    & :is(h1, h2, h3, h4, h5, h6) {
        font-family: 'Tinos';
        margin: 1.8em 0 .4em 0;
    }

    & p {
        margin-top: 0;
        line-height: 1.5;
    }

    & strong, b {
        font-weight: 500;
        font-size: inherit;
        color: #80b853;
    }

    & ul {
        padding-left: 1.2em; 
        margin: 1em 0;
    }

    & li {
        list-style-type: square;
        list-style-position: outside; 
        margin-bottom: 0.6em;
    }

    & blockquote {
        margin-left: 1.5em;

        & p {
            font-style: italic;
        }
    }
}

footer {
    margin-top: auto;
    color: var(--color-link);
    display: flex;
    gap: .8em;
}

/* Container for code blocks */
pre {
    max-width: 500px;
    color: inherit;
    border: 1px double #6a9696;
    border-radius: 3px;
    padding: 12px 16px;
    overflow-x: auto;
    white-space: pre;
    
    & code {
        font: normal 14px "Anonymous Pro", monospace;
    }
}

